body {
	width: 350px;
	background-color: #F2F4F5;
}

.s-heading {
	font-size: 1rem;
	letter-spacing: .1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

#saved-btn {
	display: flex;
	align-items: center;
	color: inherit;
	text-transform: none;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #F2F4F5;
}

#saved-btn:hover {
	background-color: #d9dbdc;
}

#saved-btn img {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: .5rem;
}

#saved-btn span {
	margin-left: 1rem;
	font-size: 1rem;
}

#presets-container {
	margin-top: 1rem;
	padding-bottom: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.preset {
	display: block;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	margin-right: .5rem;
	word-wrap: break-word;
}

#int-level, #ext-level {
	margin-top: -.2rem;
}

#save-content {
	margin-bottom: 1rem;
}

#help-btn {
	padding-left: .7rem !important;
	padding-right: .7rem !important;
	margin-right: .5rem;
}

.m0 {
	margin: 0 !important;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.p0 {
	padding: 0 !important;
}

.height-fix {
	height: 2rem !important;
}
